<md-dialog>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Nieuw seizoen</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon md-font-icon="fa fa-times" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content layout-padding>
        <form name="seasonForm" layout="row">
			<md-input-container>
				<label>Seizoen</label>
				<md-select required ng-model="newSeason.season" ng-change="newSeason.name = newSeason.season">
					<md-option ng-repeat="tabTSeason in tabTSeasons" value="{{ tabTSeason.Name }}">{{ tabTSeason.Name }}</md-option>
				</md-select>
			</md-input-container>
			<md-input-container>
				<label>Naam</label>
				<input type="text" ng-model="newSeason.name" />
			</md-input-container>
		</form>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button class="md-raised md-primary" ng-disabled="seasonForm.$invalid" ng-click="save()">
			Start
		</md-button>
	</md-dialog-actions>
</md-dialog>