<md-dialog>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Wijzig seizoen {{ updateSeason.name }}</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon md-font-icon="fa fa-times" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content layout-padding>
        <form name="seasonForm" layout="row">
			<md-input-container>
				<label>Naam</label>
				<input type="text" required ng-model="updateSeason.customName" />
			</md-input-container>
		</form>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button class="md-raised md-primary" ng-disabled="seasonForm.$invalid" ng-click="save()">
			Opslaan
		</md-button>
	</md-dialog-actions>
</md-dialog>