<md-content layout="row" layout-padding flex>
	<div layout="column" flex>
		<header layout="row" layout-align="space-between center">
			<h1>Seizoenen</h1>
			<md-progress-circular ng-if="SeasonsCtrl.loading" md-mode="indeterminate"></md-progress-circular>
			<md-fab-speed-dial ng-if="!SeasonsCtrl.loading" md-open="SeasonsCtrl.seasonMenuOpen" class="md-scale" md-direction="left">
				<md-fab-trigger>
					<md-button aria-label="menu" class="md-fab md-warn">
						<md-icon md-font-icon="fa fa-2x fa-cogs"></md-icon>
						<md-tooltip md-direction="top">Acties</md-tooltip>
					</md-button>
				</md-fab-trigger>

				<md-fab-actions>
					<md-button ng-click="SeasonsCtrl.tabTSeasons ? SeasonsCtrl.showNewSeasonScreen() : SeasonsCtrl.prepareForNewSeason()" aria-label="new"
						class="md-fab md-raised md-mini">
						<md-icon md-font-icon="fa fa-plus"></md-icon>
						<md-tooltip md-direction="top">Nieuw seizoen</md-tooltip>
					</md-button>
					<md-button ng-click="SeasonsCtrl.refreshSeasons()" aria-label="new" class="md-fab md-raised md-mini">
						<md-icon md-font-icon="fa fa-refresh"></md-icon>
						<md-tooltip md-direction="top">Overzicht vernieuwen</md-tooltip>
					</md-button>
				</md-fab-actions>
			</md-fab-speed-dial>
		</header>
		<section layout="row">
			<div layout="column" layout-padding flex="40">
				<table ng-if="SeasonsCtrl.seasons.length" st-table="SeasonsCtrl.seasons" class="table">
					<thead>
						<tr>
							<th>Huidig?</th>
							<th>Naam</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in SeasonsCtrl.seasons" ng-click="SeasonsCtrl.selected = row" class="clickable">
							<td><i class="fa" ng-class="{'fa-check': row.current, 'fa-times': !row.current}"></i> </td>
							<td>{{ row.displayName }}</td>
						</tr>
					</tbody>
				</table>
				<div ng-if="!SeasonsCtrl.seasons.length" class="alert alert-danger" role="alert">
					Er zijn geen seizoenen gevonden.
				</div>
			</div>
			<div ng-if="SeasonsCtrl.selected" layout="column" layout-padding flex>
				<md-card>
					<md-card-header>
						<md-card-header-text>
							<span class="md-title">{{ SeasonsCtrl.selected.customName }}</span>
							<span class="md-subhead" ng-if="SeasonsCtrl.selected.customName !== SeasonsCtrl.selected.name">{{ SeasonsCtrl.selected.name }}</span>
						</md-card-header-text>
					</md-card-header>
					<md-card-content layout="row">
						<div layout="column" flex="50">
							<h4>VTTL</h4>
							<p><strong>Spelers: {{ SeasonsCtrl.selected.members.VTTL.length }}</strong></p>
							<p><strong>Teams: </strong></p>
						</div>
						<div layout="column" flex="50">
							<h4>Sporta</h4>
							<p><strong>Spelers: {{ SeasonsCtrl.selected.members.Sporta.length }}</strong></p>
							<p><strong>Teams: </strong></p>
						</div>
					</md-card-content>
					<md-card-actions layout="row" layout-align="start center">
						<md-button ng-click="SeasonsCtrl.setAsCurrent(SeasonsCtrl.selected)" ng-if="!SeasonsCtrl.selected.current">
							<i class="fa fa-hand-pointer-o"></i> Maak huidig
							<md-tooltip md-direction="top">
								Gebruik dit seizoen voor opstellingenbeheer
							</md-tooltip>
						</md-button>
						<md-button>
							<i class="fa fa-pencil"></i> Wijzig naam
						</md-button>
						<md-button>
							<i class="fa fa-refresh"></i> Synchroniseer
						</md-button>
					</md-card-actions>
				</md-card>
			</div>
		</section>
	</div>
</md-content>